<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<if condition='"production".equals(property("spring.profiles.active"))'>
		<then>
			<property resource="/properties/production-app.properties" />
		</then>
		<else>
			<if condition='"dev".equals(property("spring.profiles.active"))'>
				<then>
					<property resource="/properties/dev-app.properties" />
				</then>
				<else>
					<if condition='"test".equals(property("spring.profiles.active"))'>
						<then>
							<property resource="/properties/test-app.properties" />
						</then>
						<else>
							<property resource="/properties/local-app.properties" />
						</else>
					</if>
				</else>
			</if>
		</else>
	</if>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.home}/whiteboard.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${log.home}/whiteboard.%i.log.zip</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>${log.maxFileSize}</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<logger name="com.emyed" level="${log.appl.level}" />
	<root>
		<level value="${log.root.level}" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>

